@{
    ViewBag.Title = "Detalles de la Campaña";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Título:</label>
        <div class="col-md-10">@ViewBag.Titulo</div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Segmento:</label>
        <div class="col-md-10">@ViewBag.Segmento</div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Fecha de Envío:</label>
        <div class="col-md-10">@ViewBag.FechaEnvio</div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mensaje:</label>
        <div class="col-md-10">@ViewBag.Mensaje</div>
    </div>
</div>
